.livebutton
{
    display:inline-block;
    padding:5px;
    height:30px;
    margin-left:10px;
}

.livebutton-checkbox
{
    display:none;
}

.livebutton-checkbox + label
{
    float:left;
    border:solid;
    border-width:2px;
    display:inline-block;
    border-radius:50%;
    height:28px;
    width:28px;
    border-color:#C2C2C2;
    background-color:#C2C2C2;
}

.livebutton-checkbox:checked + label 
{
    background-color:#FF0000;
    border-color:#FF0000;
}

.livebutton-checkbox + label:hover, .livebutton-checkbox + label:focus, .livebutton-checkbox + label:active
{ border-color:#FF0000; }

.livebutton-checkbox:checked + label:hover, .livebutton-checkbox:checked + label:focus, .livebutton-checkbox:checked:active + label:active
{ border-color:#C2C2C2; }